<!DOCTYPE html>
<html lang="en" class="dashboard">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="google-site-verification" content="">
    <meta name="application-name" content="ieslearning.com">
    <meta name="description" content="Institute of Executive Studies- Global Training Provider">
    <meta name="author" content="codyCobs">
    <title>IES Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminPages.css') }}">
    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
        <script src=" {{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename='js/jQuery-v2.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/adminScript.js') }}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/iescss.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
        <script src="{{ url_for('static', filename='js/respond.js') }}"></script>
    <![endif]-->
    <script src="{{ url_for('static', filename='js/jQuery-v2.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="shortcut icon">
<body>
   <header class="col-sm-12">
       <div class="row">
           <div class="col-xs-6">
               <img src="{{ url_for('static', filename='img/stories/logo.png') }}" alt="IES Logo" class="img-responsive">
           </div>
           <div class="col-xs-6">
              <div class="btn-group">
                    <a href="{{ url_for('index') }}" class="btn" data-toggle="tooltip" title="Go to IES Home" data-placement="bottom"><i class="fa fa-home"></i></a>
                    <a href="{{ url_for('logout') }}"><button class="btn">Logout</button></a>
                    <script>
                        $(function () {
                            $('[data-toggle="tooltip"]').tooltip()
                        });
                    </script>
               </div>
           </div>
       </div>
   </header>
    <div class="container">

  <!-- End of navigation -->

    <main class="pg-content trng">

      <div class="row">
          <div class="col-sm-12">
              <h4>Local Training Schedule</h4>
              <div class="table-responsive">
                  <table class="table table-bordered">
                      <thead>
                          <th>Seminars</th>
                          <th>Course Code</th>
                          <th>Duration</th>
                          <th>Location</th>
                          <th>Date</th>
                          <th></th>
                      </thead>
                      <tbody>
                          {% if programme %}
                            {% for programme in programme %}
                              <tr>
                                  <td><a href="{{ url_for('programmedetail', slug=programme.slug) }}">{{ programme.title}}</a></td>
                                  <td>{{ programme.course_code }}</td>
                                  <td>{{ programme.duration }}</td>
                                  <td>{{ programme.location}}</td>
                                  <td>{{ programme.date.strftime("%d-%B-%Y") }}</td>
                                  <td><a href="{{ url_for('update', slug=programme.slug) }}" class="pull-right"><img src="{{ url_for('static', filename='img/stories/update.png') }}" alt="register-online" width="100"></a></td>
                              </tr>
                            {% endfor %}
                          {% endif %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
    </main>
  </div>